.outer-box {
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
}

.inner-box {
  width: 80%;
  background-color: #fffefe;
  border-radius: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px 0 5px;
  width: 90%;
}

.input-container_contaier {
  display: flex;
  justify-content: center;
}

.below-input {
  display: flex;
}

.input-group {
  margin: 0 5px 0 5px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: rgb(131, 11, 11);
}
.input-group span {
  color: rgb(131, 11, 11);
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.input-group input {
  background-color: transparent;
  border: none;
  color: rgb(245, 118, 86);
}
.input-group input:focus {
  box-shadow: none;
  background-color: transparent;
  color: rgb(131, 11, 11);
}

.input-group input::placeholder {
  color: rgb(177, 146, 127);
  font-style: italic;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn-container a {
  width: 30vw;
  border: 1px solid rgb(131, 11, 11);
  background-color: rgb(131, 11, 11);
  margin-bottom: 20px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
}
.btn-container a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(131, 11, 11);
  border: 1px solid rgb(131, 11, 11);
}

.initial-value {
  max-width: 100%;
}

.tbl-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.table {
  width: 80%;
}

.computationSection {
  display: flex;
  justify-content: center;
}

.computationContainer {
  width: 100%;
  background-color: rgb(102, 9, 9);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.approximateRoot_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.approximateRoot_container h1 {
  color: green;
  font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
  .below-input {
    flex-direction: column;
    align-items: center;
  }
  .input-container {
    width: 100%;
  }
  .input-group span {
    display: none;
  }
  .input-group input::placeholder {
    color: rgb(153, 126, 115);
    font-style: italic;
  }
}

.fxFormula {
  font-size: 1rem;
}

.x2Formula {
  font-size: 1rem;
}
